<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="author" content="The Article Hive">
	<meta name="description" content="An online article club that promotes knowledge">
	<link rel="shortcut icon" type="image/png" href="./logo - shade of brown/the-article-hive-favicon-color.png" />
	<title>The Article Hive</title>
	<link rel="stylesheet" href="./static/css/style.css">
</head>
<body>
	<header>
		<a href="./index.html">
			<img class="right-anime" src="./static/logo - shade of brown/the-article-hive-high-resolution-logo-transparent.png" alt="header logo" />
		</a>
		<div style="display: flex;">
			<nav class="left-anime">
				<ul>
					<li><a href="./index.html">Home</a></li>
					<li><a href="./hive.html">Hive</a></li>
					<li><a href="./profile.html">Profile</a></li>
					<li><a href="./about.html">About</a></li>
					<li><a href="./contact.html">Contact</a></li>
					<li><a href="./login.html">Register/Login</a></li>
				</ul>
			</nav>
			<!-- <div class="search-container">
				<img src="./images/search-logo2.png" alt="search logo" />
				<input name="search" type="search" placeholder="Search"/>
			</div> -->
		</div>
	</header>
	<main>
		<div style="background-color: #4f33ec2f; padding-top: 2rem;">
			<div class="hero down-drop">
				<h1>The Article Hive</h1>
				<h2>A place to share your articles</h2>
			</div>
		</div>
		<section class="new-and-rated">
			<div class="">
				<h1 class="section-headings left-anime">New!</h1>
				<div class="responsive">
					{% for item in items %}
					<a class="box-link" href="./article.html">
						<article class="article-box index-page top-drop article-new">
								<h1 class="hor-align">{{ item.title }}</h1>
								<div class="author-profilePic-date position-h1-new">
									<img src="./static/images/placeholder.png" alt="author image" /><span class="separator">•</span>
									<h1>{{ item.author }}</h1><span class="separator">•</span>
									<h1>{{ item.date }}</h1>
								</div>
								<p>
									{{ item.content }}
								</p>
							</article>
						</a>
					{% endfor %}
					<!-- <a class="box-link" href="./article.html">
						<article class="article-box index-page top-drop">
							<h1 class="hor-align">What you need to know about IOT</h1>
							<div class="author-profilePic-date">
								<img src="../static/images/placeholder.png" alt="author image" /><span class="separator">•</span>
								<h1>Yomi Adebayo</h1><span class="separator">•</span>
								<h1>May 22, 2024</h1>
							</div>
							<p>
								Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
								Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
								Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
							</p>
						</article>
					</a>
					<a class="box-link" href="./article.html">
						<article class="article-box index-page top-drop">
							<h1 class="hor-align">How to become a better Entrepreneur</h1>
							<div class="author-profilePic-date">
								<img src="../static/images/placeholder.png" alt="author image" /><span class="separator">•</span>
								<h1>Yomi Adebayo</h1><span class="separator">•</span>
								<h1>May 22, 2024</h1>
							</div>
							<p>
								Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
								Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
								Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
							</p>
						</article>
					</a>
					<a class="box-link" href="./article.html">
						<article class="article-box index-page top-drop">
							<h1 class="hor-align">Why Tech Experts are diverting into Farming</h1>
							<div class="author-profilePic-date">
								<img src="../static/images/placeholder.png" alt="author image" /><span class="separator">•</span>
								<h1>Yomi Adebayo</h1><span class="separator">•</span>
								<h1>May 22, 2024</h1>
							</div>
							<p>
								Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
								Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
								Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
							</p>
						</article>
					</a> -->
				</div>
				<div class="button-container">
					<h1>Join Our Community of Avid Readers and Thought Leaders.</h1>
					<h1>Read, Learn, and Grow with our Article Hive</h1>
					<div class="click-anime">
						<a href="./hive.html">
							<button>Check our Hive</button>
						</a>
					</div>
				</div>
			</div>
			<div class="">
				<h1 class="section-headings right-anime" >Top rated</h1>
				<div>
					{% for rating in rated %}
						<a class="box-link" href="./article.html">
							<article class="article-box top-rated index-page left-anime article-rated">
								<h1 class="hor-align">{{ rating.title }}</h1>
								<p>
									{{ rating.content }}
								</p>
								<div class="author-profilePic-date position-h1-new">
									<h1>{{ rating.author }}</h1><span class="separator separator-rated">•</span>
									<h1>{{ rating.date }}</h1>
								</div>
							</article>
						</a>
					{% endfor %}
					<!-- <a class="box-link" href="./article.html">
						<article class="article-box top-rated index-page left-anime article-rated">
							<h1 class="hor-align">The Truth about AI</h1>
							<p>
								Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
							</p>
							<div class="author-profilePic-date position-h1-new">
								<h1>Yomi Adebayo</h1><span class="separator separator-rated">•</span>
								<h1>May 22, 2024</h1>
							</div>
						</article>
					</a>
					<a class="box-link" href="./article.html">
						<article class="article-box top-rated index-page left-anime article-rated">
							<h1 class="hor-align">How to be Excellent in Prompt Engineer</h1>
							<p>
								Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
							</p>
							<div class="author-profilePic-date position-h1-new">
								<h1>Yomi Adebayo</h1><span class="separator separator-rated">•</span>
								<h1>May 22, 2024</h1>
							</div>
						</article>
					</a> -->
				</div>
			</div>
		</section>
	</main>
	<footer class="paragraph">
		<div>
            <img src="../static/logo - shade of brown/the-article-hive-high-resolution-logo-white-transparent.png" alt="footer logo" />
        </div>
		<div>
			<p>Privacy Policy</p>
			<p>Terms of Service</p>
			<p><a href='#'>GitHub</a></p>
		</div>
		<div>
			<p>Address: Nigeria</p>
			<p>Phone: +234(0) 802 222 2222</p>
			<p><a href='#'>Email Us</a></p>
		</div>
		<script src="../static/js/form.js"></script>
		<script src="../static/js/hero.js"></script>
	</footer>
</body>
</html>