{% extends 'base.html' %}
{% load static %}
{% block section %}
<section class="contact">
	<div id="top-drop" class="content">
		<h1 class="right-anime">About Form</h1>
		<form id="form" class="form-contact" action="" method="POST">
			{% csrf_token %}
			<div id="down-drop" class="">
				<span class="required">*</span>
				<textarea id="about" name="about" placeholder="About content goes here ..." rows="10" required>{{ about }}</textarea>
			</div>
			<span class="not-required">*</span>
			<div class="click-anime">
				<button type="submit">Submit</button>
			</div>
		</form>
	</div>
</section>
{% endblock section %}