{% extends 'base.html' %}
{% load static %}
{% block section %}
{% with "" as empty %}
<section class="article">
	{% if user.is_authenticated and is_owner %}
	<div class="click-anime">
		<div class="small-container">
			<a href="{% url 'update_article_form' article.id %}">
				<button>Edit Article</button>
			</a>
		</div>
	</div>
	{% endif %}
	<h1 class="right-anime" style="margin-bottom: 0;">{{ article.title }}</h1>
	<div id="top-drop" class="flex-block">
	</div>
	<img id="down-drop" class="article-pic" src="{% static 'logo - shade of brown/the-article-hive-favicon-white.png' %}" alt="article photo" />
	<p class="left-anime preformatted">
		{{ article.content|default:empty }}
	</p>
	<div id="top-drop" class="flex-block">
		<p class="nav-anchor" >Written by <a href="{% url 'profile' pk=article.author.pk %}">{{ article.author.first_name|default:empty|capfirst }} {{ article.author.last_name|default:empty|capfirst }}</a></h2> on {{ article.date_published|default:empty }}</p>
		<p>Views: {{ article.views|default:empty }} | Rating: {{ article.rating|default:empty }}</p>
	</div>
	<!-- comment section -->
	{% if article_comments.exists %}
	<div class="comment-disp">
		<div class="comments-section">
			<h2 class="right-anime comment-head">Comments</h2>
			{% for article_comment in article_comments %}
				<div class="comment">
					{% if article_comment.user %}
						<p class="left-anime nav-anchor comment-author" >
							<a href="{% url 'profile' article_comment.user.id %}">{{ article_comment.user.first_name|default:article_comment.name|capfirst }}
								{% if article_comment.user == article_comment.article.author %}
									(Author)
								{% endif %}
							</a>
							Wrote:
						</p>
					{% else %}
						<p class="left-anime comment-author">{{ article_comment.name|capfirst }} Wrote: </p>
					{% endif %}
					<div class="right-anime comment-text preformatted"><p>{{ article_comment.comment }}</p></div>
					<div class="right-anime comment-date"><p>On {{ article_comment.date_commented }}</p></div>
					<!-- author reply section -->
					{% if article_comment.author_reply %}
						<div class="comment">
							<p class="left-anime nav-anchor comment-author" >
								<a href="{% url 'profile' article_comment.article.author.id %}">
									{{ article_comment.article.author.first_name|default:article_comment.name|capfirst }}
									(Author)
								</a>
								Responded:
							</p>
							<!-- commented out -->
							{% comment %}
								{% if article_comment.user %}
									<p class="left-anime nav-anchor comment-author" >
									<a href="{% url 'profile' article_comment.article.author.id %}">
										{{ article_comment.article.author.first_name|default:article_comment.name|capfirst }}
										{% if article_comment.user == article_comment.article.author %}
											(Author)
										{% endif %}
									</a>
									Responded:
								</p>
								{% else %}
									<p class="left-anime comment-author">{{ article_comment.name|capfirst }} Responded: </p>
								{% endif %}
							{% endcomment %}
							<!-- commented out end -->
							<!-- <div class="comment-author">Sasha</div> -->
							<div class="right-anime comment-text preformatted"><p>{{ article_comment.author_reply.reply }}</p></div>
							<div class="right-anime comment-date"><p>On {{ article_comment.author_reply.date_replied }}</p></div>
						</div>
					{% else %}
						{% if user.is_authenticated and is_owner %}
							<div class="click-anime">
								<div class="comments-container">
									<a href="{% url 'author_response' article_comment.id %}">
										<button><strong>Respond</strong></button>
									</a>
								</div>
							</div>
						{% endif %}
					{% endif %}
					<!-- author reply section end -->
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
	{% endif %}
	<!-- comment section end -->
	<div id="top-drop" class="">
		<p class="left-anime comment-head" style="padding-top: 2rem;">Leave a comment</p>
		<form id="form" class="article-comments-form" action="" method="POST">
			{% csrf_token %}

			{% if not user.is_authenticated %}
			<div id="down-drop" class="">
				<span class="not-required">*</span>
				<input id="name" name="name" type="text" placeholder="Enter your name">
			</div>
			{% endif %}

			<div id="down-drop" class="">
				<span class="required" style="color: white;">*</span>
				<textarea id="comment" name="comment" placeholder="Comment here" rows="4" required></textarea>
			</div>
			<span class="not-required">*</span>
			<div class="click-anime">
				<button type="submit">Submit</button>
			</div>
		</form>
	</div>
	</section>
{% endwith %}
{% endblock section %}
