{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="author" content="Dafetite Ogaga">
	<meta name="description" content="An online article club that promotes knowledge by Dafetite">
	<link rel="shortcut icon" type="image/png" href="{% static 'logo - shade of brown/the-article-hive-favicon-color.png' %}" />
	<meta property="og:title" content="The-Article-Hive developed by Dafetite" />
    <meta property="og:description" content="An online article club that promotes knowledge by Dafetite" />
    <meta property="og:image" content="{% static 'logo - shade of brown/the-article-hive-favicon-color.png' %}" />
    <meta property="og:url" content="https://dafetite.pythonanywhere.com/hive/" />
    <meta property="og:type" content="website" />
	<meta name="google-site-verification" content="SYQbv34WE5zkxSkXO_e7ckrvr8OAqOSU8a3Cx8ArSbU" />
	<title>{{ pgname }}</title>
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
	{% include 'partials/_header.html' %}
	<main>
		{% if pgname == 'The-Article-Hive' %}
			{% include 'partials/_hero.html' %}
		{% endif %}

		{% block section %}{% endblock section %}
	</main>
	{% include 'partials/_footer.html' %}
</body>
</html>
