{% extends 'base.html' %}
{% load static %}
{% block section %}
<section class="contact">
	<div id="top-drop" class="content">
		<h1 class="right-anime">{{ contact.title }}</h1>
		<form id="form" class="form-contact" action="" method="POST">
			{% csrf_token %}
			<div id="down-drop" class="">
				<span class="required">*</span>
				<input id="name" name="name" type="text" placeholder="Enter your name" required>
			</div>
			<div id="down-drop" class="">
				<span class="required">*</span>
				<textarea id="contact" name="contact" placeholder="Write your comment here" rows="4" required></textarea>
			</div>
			<span class="not-required">*</span>
			<div class="click-anime">
				<button type="submit">Submit</button>
			</div>
		</form>
	</div>
</section>
{% endblock section %}