{% extends 'base.html' %}
{% load static %}
{% block section %}
{% with "" as empty %}
<section class="new-and-rated">
	<div class="">
		<h1 class="section-headings left-anime">New!</h1>
		<div class="responsive">
			{% for item in articles %}
			<a class="box-link" href="{% url 'article' pk=item.pk %}">
					<article class="article-box index-page top-drop article-new">
						<h1 class="hor-align">{{ item.title|default:empty }}</h1>
						<div class="author-profilePic-date position-h1-new">
							<img src="{% static 'images/placeholder.png' %}" alt="author image" /><span class="separator">•</span>
							<h1>{{ item.author.first_name|default:empty|capfirst }}</h1><span class="separator">•</span>
							<h1>{{ item.date|default:empty }}</h1>
						</div>
						<p>
							{{ item.content|truncatechars:250|default:empty }}
						</p>
					</article>
				</a>
			{% endfor %}
		</div>
		<div class="button-container">
			<h1>Join Our Community of Avid Readers and Thought Leaders.</h1>
			<h1>Read, Learn, and Grow with our Article Hive</h1>
			<div class="click-anime">
				<a href="{% url 'hive' %}">
					<button>Check our Hive</button>
				</a>
			</div>
		</div>
	</div>
	<div class="">
		<h1 class="section-headings right-anime" >Top rated</h1>
		<div>
			{% for rating in articles|slice:":4" %}
			<a class="box-link" href="{% url 'article' pk=rating.pk %}">
					<article class="article-box top-rated index-page left-anime article-rated">
						<h1 class="hor-align">{{ rating.title }}</h1>
						<p>
							{{ rating.content|truncatechars:80|default:empty }}
						</p>
						<div class="author-profilePic-date position-h1-new">
							<h1>{{ rating.author.first_name|default:empty|capfirst }}</h1><span class="separator separator-rated">•</span>
							<h1>{{ rating.date|default:empty }}</h1>
						</div>
					</article>
				</a>
			{% endfor %}
		</div>
	</div>
</section>
{% endwith %}
{% endblock section %}
