{% extends 'base.html' %}
{% load static %}
{% block section %}
{% with "" as empty %}
<section class="section-background-color">
	<h1 class="section-headings left-anime">New!</h1>
	<div class="new-and-rated">
		<div>
			<div class="responsive">
				{% for item in articles %}
				<a class="box-link" href="{% url 'article' pk=item.pk %}">
						<article id="top-drop" class="article-box index-page article-new">
							<h1 class="hor-align">{{ item.title|default:empty }}</h1>
							<div class="author-profilePic-date position-h1-new">
								<img src="{{ item.author.profile_picture.url }}" alt="author image" /><span class="separator">•</span>
								<h1>{{ item.author.first_name|default:empty|capfirst }}</h1><span class="separator">•</span>
								<h1>{{ item.date_published|default:empty|date:"jS b, Y" }}</h1>
							</div>
							<p class="">
								{{ item.content|truncatechars:130|default:empty }}
							</p>
						</article>
					</a>
				{% endfor %}
			</div>
			<div class="button-container">
				<h1>Join Our Community of Avid Readers and Thought Leaders.</h1>
				<h1>Read, Learn, and Grow with our Article Hive</h1>
				<div class="click-anime">
					<a href="{% url 'hive' %}">
						<button>Check our Hive</button>
					</a>
				</div>
			</div>
		</div>
		{% include 'partials/_latest.html' %}
	</div>
</section>
{% endwith %}
{% endblock section %}
