{% extends 'base.html' %}
{% load static %}
{% block section %}
<section class="login">
	<div id="top-drop" class="content">
		<h1 class="right-anime">{{ login.title }}</h1>
		<form id="form" class="form-login" action="" method="POST">
			{% csrf_token %}
			<div id="down-drop" class="">
				<span class="required">*</span>
				<input id="username" name="username" type="email" placeholder="Email" required>
			</div>
			<div id="down-drop" class="">
				<span class="required">*</span>
				<input id="password" name="password" type="password" placeholder="Password" required>
				<span class="eye-icon" onclick="togglePasswordVisibility('password')">
					<i class="fa fa-eye"></i>
				</span>
			</div>
			<div><span class="not-required">*</span>
				<div class="click-anime">
					<button type="submit">Log in</button>
				</div>
				<div class="forgot-password">
					<!-- <div> -->
						<p>Not yet a member? Register<a href="{% url 'register' %}">here</a></p>
						<p>OR</p>
						<p>Forgot your Password? Reset it<a href="{% url 'password_reset' %}">here</a></p>
					<!-- </div> -->
				</div>
		</form>
	</div>
</section>
{% endblock section %}