{% extends 'base.html' %}
{% load static %}
{% block section %}
<section class="register">
	<div id="top-drop" class="content">
		<h1 class="right-anime">{{ register.title }}</h1>
		<form id="form" class="form-register" action="" method="POST" enctype="multipart/form-data">
			{% csrf_token %}
			<div id="down-drop" class="">
				<span class="required">*</span>
				<input id="first_name" name="first_name" type="text" placeholder="First name" required>
			</div>
			<div id="down-drop" class="">
				<span class="not-required">*</span>
				<input id="last_name" name="last_name" type="text" placeholder="Last name (Optional)">
			</div>
			<div id="down-drop" class="">
				<span class="not-required">*</span>
				<input id="middle_name" name="middle_name" type="text" placeholder="Middle name (Optional)">
			</div>
			<!-- <div id="down-drop" class="">
				<span class="required">*</span>
				<input id="username" name="username" type="text" placeholder="Username" required>
			</div> -->
			<div id="down-drop" class="">
				<span class="required">*</span>
				<input id="email" name="email" type="email" placeholder="Email" required>
			</div>
			<div id="down-drop" class="">
				<span class="not-required">*</span>
				<input id="phone" name="phone" type="tel" placeholder="Phone Number (Optional)">
			</div>
			<div id="down-drop" class="">
				<span class="required">*</span>
				<input id="id_new_password1" name="password1" type="password" placeholder="Password" required>
				<span class="eye-icon" onclick="togglePasswordVisibility('id_new_password1')">
					<i class="fa fa-eye"></i>
				</span>
			</div>
			<div id="down-drop" class="">
				<span class="required">*</span>
				<input id="id_new_password2" name="password2" type="password" placeholder="Enter Password again" required>
				<span class="eye-icon" onclick="togglePasswordVisibility('id_new_password2')">
					<i class="fa fa-eye"></i>
				</span>
			</div>
			<div id="down-drop" class=" message-box">
				<p id="password-match-message"></p>
			</div>
			<div id="down-drop" class="">
				<span class="not-required">*</span>
				<input id="website" name="website" type="text" placeholder="Website (Optional)">
			</div>
			<div id="down-drop" class="">
				<span class="not-required">*</span>
				<hr>
				<label for="profile_picture">Profile Photo</label>
				<input id="profile_picture" name="profile_picture" type="file" accept="image/*">
				<img id="selectedImage" src="#" alt="Profile Picture" width="100" style="display: none;">
				<!-- {% if profile.profile_picture %}
					<img src="{{ profile.profile_picture.url }}" alt="Profile Picture" width="100">
				{% endif %} -->
			</div>
			<div>
				<span class="not-required">*</span>
				<div class="click-anime">
					<button type="submit">Register</button>
				</div>
			<div class="forgot-password">
				<p>Already a member? Login<a href="{% url 'login' %}">here</a></p>
			</div>
		</form>
	</div>
</section>
{% endblock section %}