{% load static %}
<footer class="paragraph down-drop">
	<div>
		<img src="{% static 'logo - shade of brown/the-article-hive-high-resolution-logo-white-transparent.png' %}" alt="footer logo" />
	</div>
	<div>
		<p>Privacy Policy</p>
		<p>Terms of Service</p>
		<p><a href="{% url 'about' %}">About Us</a></p>
		<p>Developed by: <a href="https://dafetiteogaga.github.io/dafetite" style="padding-right: 0.5rem;">Dafetite</a></p>
	</div>
	<div>
		<p>Address: Nigeria</p>
		<p>Phone: +234(0) 802 222 2222</p>
		<p><a href='#'>Email Us</a></p>
		<p>&copy; The Article Hive • 2024</p>
	</div>
	<script src="{% static 'js/form.js' %}"></script>
	<script src="{% static 'js/hero.js' %}"></script>
	<script src="{% static 'js/image_display.js' %}"></script>
</footer>
