{% load static %}
<footer class="paragraph down-drop nav-anchor">
	<div>
		<img src="{% static 'logo - shade of brown/the-article-hive-high-resolution-logo-white-transparent.png' %}" alt="footer logo" />
	</div>
	<div>
		<p>Privacy Policy</p>
		<p>Terms of Service</p>
		<p><a href="{% url 'about' %}">About Us</a></p>
		<p><a href='mailto: ogagadafetite@gmail.com'>Email Me</a></p>
	</div>
	<div>
		<p>Developed by: <a href="https://dafetiteogaga.github.io/dafetite" style="padding-right: 0.5rem;">Dafetite</a></p>
		<!-- <p>Phone: +234(0) 802 222 2222</p> -->
		<p><a href='https://github.com/DafetiteOgaga/article-hive-backend-component'>Github</a></p>
		<p>Address: Lagos, Nigeria</p>
		<p id="date-time"></p>
		<!-- <p>&copy; The Article Hive • 2024</p> -->
	</div>
	<script src="{% static 'js/search.js' %}"></script>
	<script src="{% static 'js/signup.js' %}"></script>
	<script src="{% static 'js/form.js' %}"></script>
	<script src="{% static 'js/hero.js' %}"></script>
	<script src="{% static 'js/image_display.js' %}"></script>
	<script src="{% static 'js/date-time.js' %}"></script>
</footer>
