{% load static %}
{% with "" as empty %}
<header>
	<a class="bounce-header" href="{% url 'home' %}">
		<img class="right-anime" src="{% static 'logo - shade of brown/the-article-hive-high-resolution-logo-transparent.png' %}" alt="header logo" />
	</a>
	<!-- <div class="nav-and-user"> -->
		<div style="display: flex;">
			<nav class="left-anime nav">
				<ul class="nav-anchor">
					<!-- <li class="right-anime"><a href="./index-static.html">Home</a></li> -->
					<li class="right-anime"><a href="{% url 'home' %}">Home</a></li>
					<li class="right-anime"><a href="{% url 'hive' %}">Hive</a></li>
					<li class="right-anime"><a href="{% url 'contact' %}">Contact Us</a></li>
					{% if user.is_authenticated %}
					<!-- <li class="right-anime" style="color: brown;"><a>{{user.email}}</a></li> -->
					<li class="right-anime"><a href="{% url 'profile' user.id %}">Profile</a></li>
					<li class="right-anime"><a href="{% url 'logout' %}">Logout</a></li>
					{% else %}
					<li class="right-anime"><a href="{% url 'login' %}">Register/Login</a></li>
					{% endif %}
					{% if user.is_superuser %}
						<li class="right-anime"><a href="{% url 'feedback_list_view' %}">Feedback</a></li>
					{% endif %}
				</ul>
			</nav>
		</div>
	<!-- </div> -->
</header>
{% if user.is_authenticated %}
<div style="padding-bottom: 0.5rem;" class="greeting nav left-align-mini-header">
	<div class="">
		<div class="inner-min-header">
			<div  class="search-header click-anime">
				<form action="{% url 'advanced_search' %}" method="get">
					<input class="right-anime" name="q" type="text" id="search-input" placeholder="Search..." value="{{ query }}">
					<button class="left-anime" type="submit">Search</button>
				</form>
				<!-- <a class="bounce-head" style="text-decoration: none;" href="{% url 'article_form' %}"><h1 class="click-anime">Article</h1></a> -->
			</div>
			<div class="welcome-header">
				<a class="bounce-head" style="text-decoration: none;" href="{% url 'profile' user.id %}"><h1 class="click-anime">Welcome {{ user.first_name|default:empty|capfirst }}</h1></a>
				<a class="bounce-head" style="text-decoration: none;" href="{% url 'article_form' %}"><h1 class="click-anime">Post an Article</h1></a>
			</div>
		</div>
	</div>
</div>
{% endif %}
{% endwith %}
