{% with "" as empty %}
<div class="rating-section">
	<h1 class="section-headings right-anime" >Latest Reads</h1>
	<div>
		{% for rating in ratings|slice:":4" %}
		<a class="box-link" href="{% url 'article' pk=rating.pk %}">
				<article class="article-box top-rated index-page left-anime article-rated">
					<h1 class="hor-align">{{ rating.title }}</h1>
					<p class="">
						{{ rating.content|truncatechars:70|default:empty }}
					</p>
					<div class="author-profilePic-date position-h1-new">
						<h1>{{ rating.author.first_name|default:empty|capfirst }}</h1><span class="separator separator-rated">•</span>
						<h1>{{ rating.date_published|default:empty|date:"jS b, Y" }}</h1>
					</div>
				</article>
			</a>
		{% endfor %}
	</div>
</div>
{% endwith %}