{% extends 'base.html' %}
{% load static %}
{% block section %}
<section class="about auth">
	<h1 style="display: flex; justify-content: center;" class="right-anime">Password Reset Sent</h1>
	<p style="display: flex; justify-content: center;" class="left-anime">An email has been sent with instructions to reset your password.</p>
	<div class="click-anime">
		<div class="small-container">
			<a href="{% url 'home' %}">
				<button>Go to Home</button>
			</a>
		</div>
	</div>
</section>
{% endblock section %}