{% extends 'base.html' %}
{% load static %}
{% block section %}
<section class="about auth">
	<h1 style="display: flex; justify-content: center;" class="right-anime">Password reset failed!</h1>
	<p style="display: flex; justify-content: center;" class="left-anime">No account is associated with the email address you provided or it was incorrectly typed.</p>
	<div class="click-anime">
		<div class="small-container">
			<a href="{% url 'home' %}">
				<button>Go to Home</button>
			</a>
		</div>
	</div>
</section>
{% endblock section %}
