{% extends 'base.html' %}
{% load static %}
{% block section %}
<section class="register">
	<div class="content top-drop">
		<h1 class="right-anime">Reset password</h1>
		<form id="form" class="form-register" action="" method="POST">
			{% csrf_token %}
			<div class="down-drop">
				<span class="required">*</span>
				{{ form.new_password1 }}
				<span class="eye-icon" onclick="togglePasswordVisibility('id_new_password1')">
					<i class="fa fa-eye"></i>
				</span>
			</div>
			<div class="down-drop">
				<span class="required">*</span>
				{{ form.new_password2 }}
				<span class="eye-icon" onclick="togglePasswordVisibility('id_new_password2')">
					<i class="fa fa-eye"></i>
				</span>
			</div>
			<div class="down-drop message-box">
				<p id="password-match-message"></p>
			</div>
			<div>
				<span class="not-required">*</span>
				<div class="click-anime">
					<button type="submit">Reset password</button>
				</div>
			</div>
		</form>
	</div>
</section>
{% endblock section %}