{% extends 'base.html' %}
{% load static %}
{% block section %}
<section class="register">
	<div class="content top-drop">
		<h1 class="right-anime">Reset password</h1>
		<form id="form" class="form-register" action="" method="POST">
			{% csrf_token %}
			<div class="down-drop">
				<span class="required">*</span>
				{{ form.email }}
			</div>
			<div>
				<span class="not-required">*</span>
				<div class="click-anime">
					<button type="submit">Reset</button>
				</div>
		</form>
	</div>
</section>
{% endblock section %}
