{% extends 'base.html' %}
{% load static %}
{% block section %}
<section class="register">
	<div class="content top-drop">
		<h1 class="right-anime">Change password</h1>
		<form id="form" class="form-register" action="" method="POST">
			{% csrf_token %}
			<div class="down-drop">
				<span class="required">*</span>
				{{ form.old_password }}
				<span class="eye-icon" onclick="togglePasswordVisibility('id_old_password')">
					<i class="fa fa-eye"></i>
				</span>
			</div>
			<div class="down-drop">
				<span class="required">*</span>
				{{ form.new_password1 }}
				<span class="eye-icon" onclick="togglePasswordVisibility('id_new_password1')">
					<i class="fa fa-eye"></i>
				</span>
			</div>
			<div class="down-drop">
				<span class="required">*</span>
				{{ form.new_password2 }}
				<span class="eye-icon" onclick="togglePasswordVisibility('id_new_password2')">
					<i class="fa fa-eye"></i>
				</span>
			</div>
			<div class="down-drop message-box">
				<p id="password-match-message"></p>
			</div>
			<ul class="password-form">
				<li>Your password can't be too similar to your other personal information.</li>
				<li>Your password must contain at least 8 characters.</li>
				<li>Your password can't be a commonly used password.</li>
				<li>Your password can't be entirely numeric.</li>
			</ul>
			<div>
				<span class="not-required">*</span>
				<div class="click-anime">
					<button type="submit">Change</button>
				</div>
		</form>
	</div>
</section>
{% endblock section %}