{% extends 'base.html' %}
{% load static %}
{% block section %}
{% with "" as Anonymous %}
<section class="section-background-color">
	<h1 class="section-headings left-anime">Feedback</h1>
	<div>
		<div style="padding-bottom: 3rem;">
			<div class="responsive">
				{% for feedback in feedbacks %}
				<a class="box-link" href="{{ feedback.url }}">
					<article id="top-drop" class="article-box index-page article-new">
						<h1 class="hor-align">{{ feedback.title }}</h1>
					</article>
				</a>
				{% endfor %}
			</div>
			<div class="about-form">
				<div class="button-container">
					<div class="click-anime">
						<a href="/admin">
							<button>Admin Panel</button>
						</a>
					</div>
				</div>
				<div class="button-container">
					<div class="click-anime">
						<a href="{% url 'about_form' %}">
							<button>About Form</button>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	{% include 'partials/_pagination.html' %}
	
</section>
{% endwith %}
{% endblock section %}
