{% extends 'base.html' %}
{% load static %}
{% block section %}
{% with "" as empty %}
<section class="profile">
	<div>
		<div class="profile-img-container right-anime small-container">
			<!-- <img src="{{ member.profile_picture.url|default:empty }}" alt="profile photo" /> -->
			<h1>
				{% if feedback.user.first_name %}
				<a style="color: rgb(206, 149, 112);" href="{% url 'article' pk=feedback.article.pk %}">
					{{ feedback.user.first_name|default:empty|capfirst }} {{ feedback.user.middle_name|default:empty|capfirst }} {{ feedback.user.last_name|default:empty|capfirst }}</a>
				{% else %}
					{{ feedback.name }}
				{% endif %} said:</h1>
		</div>
		<!-- <h1 style="margin-bottom: 0;" class="left-anime">About Me</h1> -->
		<p style="margin-top: 0;" id="down-drop" class="preformatted">
			{{ feedback.comment|default:empty }}
		</p>
	</div>
	<div id="top-drop" class="nav-anchor preformatted">
		<p>To:
			{{ feedback.article.content|default:empty }}

			by: <span style=" color: grey;">{% if feedback.article.author.first_name %}<a style="color: rgb(206, 149, 112);" href="{% url 'profile' pk=feedback.article.author.pk %}">{{ feedback.article.author.first_name|default:empty }}</a>{% else %}{{ feedback.name|default:empty }}{% endif %}</span>
		</p>
		<p>On: {{ feedback.date_commented|default:empty|date:"jS b, Y" }}</p>
	</div>
</section>
{% endwith %}
{% endblock section %}